* {
    margin: 0;
    padding: 0;
    text-decoration: none; 

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
a {
    text-decoration: none;
}

.bg-marian {
    background-color: black;
}

/* Fin nav */

/*body inicio*/

@media screen and (max-width: 800px){
    .titulos {
        font-size: x-small;
    }

}
#padre {
    min-height: 100vh; /*para que ocupe el alto completo*/
    position: relative; /*el padre relative para que el video tenga absolutos*/
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*para que ocupe el ancho completo del padre*/
    height: 100%; /*para que ocupe el alto completo*/
    object-fit: cover; /*responsive*/
}

.titulos {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2; /*coloca el contenedor encima de los otros al usar position relative*/

}

.primer-titulo {
    color: white;

}
.segundo-titulo {
    color: white;
}
.tercer-titulo {
    color: white;
}



/*fin Body inicio*/

/* footer */
footer {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: italic;
}
.instagram {
    font-family:'Montserrat', sans-serif;
    color: white

}

.whatsapp {
    font-family:'Montserrat', sans-serif;
    color: white
}
.telegram {
    font-family:'Montserrat', sans-serif;
    color: white
}