* {
    margin: 0;
    padding: 0;
    text-decoration: none; 

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
a {
    text-decoration: none;
}

.bg-marian {
    background-color: black;
}

/* Fin nav */

/*body inicio*/


#padre {
    min-height: 100vh; /*para que ocupe el alto completo*/
    position: relative; /*el padre relative para que el video tenga absolutos*/
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*para que ocupe el ancho completo del padre*/
    height: 100%; /*para que ocupe el alto completo*/
    object-fit: cover; /*responsive*/
}

.titulos {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2; /*coloca el contenedor encima de los otros al usar position relative*/

}

.primer-titulo {
    color: white;
}
.primer-titulo:hover {
    transform: scale(3);
    transition: 2s;
}
/*fin Body inicio*/






/* CSS programas */

.body-programas {
    background-image: url(./images/fondo6.jpg);
}
/*imagenes*/



/* GRID */
.container-p {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr 1.4fr 0.3fr;
    gap: 26px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    "img1 parrafo parrafo"
    "img2 parrafo2 parrafo2"
    "img3 parrafo3 parrafo3"
    "footer footer footer";
}

.parrafo { 
    grid-area: parrafo; 
}

.parrafo2 { 
    grid-area: parrafo2; 
}

.parrafo3 { 
    grid-area: parrafo3; 
}

.img1 { 
    grid-area: img1; 
}

.img2 { 
    grid-area: img2; 
}

.img3 { 
    grid-area: img3; 
}
/* FIN GRID */

.img1 img { 
    height: 200px;
    width: 220px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10%;

}
.img2 img { 
    height: 200px;
    width: 220px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10%;

}
.img3 img { 
        height: 200px;
        width: 220px;
        object-fit: cover;
        border: 3px solid white;
        border-radius: 10%;
    
}


.parrafo , .parrafo2 , .parrafo3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}




/* CSS nosotros  */

.body-nosotros {
    background-image: url(./images/fondo6.jpg);
    background-repeat: no-repeat;
}

/* imagenes  */

.imagen-contenedor3 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 10px;
}

.img-nosotros img {
    height: 300px;
    width: 220px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10%;
    
}

.img-nosotros1 img {
    height: 300px;
    width: 220px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10%;

    
}

.img-nosotros2 img {
    height: 300px;
    width: 220px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10%;

}

.img-nosotros3 img {
    height: 300px;
    width: 220px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10%;

}
/*fin imagenes*/




/*parrafos*/
.parrafos-conteiner3 {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 18px;
    padding: 0 50px 0 50px ;
    margin-bottom: 120px;
    font-family: 'Montserrat', sans-serif;

}


/* Fin CSS nosotros */

/* CSS Suscripciones */


.body-suscrip {
    background-image: url(./images/fondo6.jpg);
    background-repeat: no-repeat;
}

.h4s {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}
.h2s {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}
.h3s {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.p-conteiner {
    display: flex;
    justify-content: space-around;
}

.link-conteiner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.p-conteiner__1 {
    background-color: grey;
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: unset;
    border: 2px solid white;
}

.link {
        background-image: url(./images/personal-trainer.jpg);
        background-size: 300px;
        height: 200px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-style: unset;
        border: 2px solid white;
}
.link__1 {
    background-image: url(./images/cross3.jpg);
    background-size: 300px;
    height: 200px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: unset;
    border: 2px solid white;
}
.link__2 {
    background-image: url(./images/cross4.jpg);
    background-size: 300px;
    height: 200px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: unset;
    border: 2px solid white;
}

.p-conteiner__2 {
    background-color: grey;
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: unset;
    border: 2px solid white;

}





/* fin css suscripciones */


/* css contacto */
.body-contacto {
    background-image: url(./images/fondo6.jpg);
    background-repeat: no-repeat;
}

.titulo-contacto {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.form-contacto {
    margin-bottom: 130px;
}
.input-contact  {
    display: flex;
    margin: 0 0 60px 40%;
}

/* fin css contacto */


/* footer */
footer { grid-area: footer; }
footer {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.instagram {
    font-family:'Montserrat', sans-serif;
    color: white

}

.whatsapp {
    font-family:'Montserrat', sans-serif;
    color: white
}
.telegram {
    font-family:'Montserrat', sans-serif;
    color: white
} 